*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #F5E9DC;
    color: #2B1D18;
}

header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #2B1D18;
    color: #F5E9DC;
}

nav{
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a{
    color: #F5E9DC;
}

nav a:hover{
    color: #ffff;
}

#inicio{
    text-align: center;
    background-color: aqua;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/img-capa1.png);
    background-size: cover;
    background-position: center;
    padding: 0 120px;
}

#inicio h1,
#inicio h3,
#inicio p{
    display: flex;
    margin-bottom: 55px;
    color: #41052a;
    font-size: 2.9rem;
}

#inicio p{
    margin:0 -2px;
}

#title-catalogo{
    text-align: center;
    margin-top: 40px;
    font-size: 2rem;
}

#cont-catalogo{
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
}

.catalogo{
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 7px;
    background-color: #fff;
    transition: 2s;
    box-shadow: 0 5px 15px rgb(176, 172, 172);
}

.catalogo:hover{
    transform: translatey(-5px);
}

.image{
    display: flex;
    min-width: 260px;
    background-color: #2B1D18;
    height: 250px;
}

.image img{
    min-width: 260px;
}

.catalogo h3, p{
    margin: 7px 15px;
    font-size: 1.2rem;
}

.preco{
    color: red;
    font-weight: bold;
}


footer{
    background-color: #ffff;
}

@media (max-width: 780px) {
    #inicio{
        padding: 0 20px;
    }

    #inicio h1,
    #inicio h3,
    #inicio p{
        max-width: 300px;
        font-size: 1.5rem;
    }
}